<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!--
    Author: LMS
   -->

  <xacro:include filename="$(find nj-220-27_descriptions)/urdf/comau_common.macro.xacro" />


  <xacro:macro name="gripper" params="prefix ">

    <link name="${prefix}phoxy">
        <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://nj-220-27_descriptions/meshes/staffa_e_photoneo.stl" />
            </geometry>
            <xacro:c_d_grey/>
        </visual>
        <collision>
        <origin
            xyz="0.1 0 0.05"
            rpy="0 0 0" />
        <geometry>
            <box size="0.15 0.7 0.15"/>
        </geometry>
        </collision>
    </link>

    <joint name="${prefix}joint_camera" type="fixed">
        <origin xyz="0.09563 0 0" rpy="0 0 0" />
        <parent link="${prefix}flange" />
        <child link="${prefix}phoxy" />
    </joint>

    <joint name="${prefix}joint_camera_view" type="fixed">
        <origin xyz="0.25 0 0" rpy="3.1415926535897931 1.57079632679 0" />
        <parent link="${prefix}flange" />
        <child link="${prefix}camera" />
    </joint>
    <link name="${prefix}camera"/>

    <link name="${prefix}tcp"/>
    <joint name="${prefix}joint_tcp" type="fixed">
        <origin xyz="-0.069 0.040 0.253" rpy="0 0 0" />
        <parent link="${prefix}flange" />
        <child link="${prefix}tcp"/>
    </joint>

    <joint name="${prefix}tapping_joint" type="fixed">
      <parent link="${prefix}tcp" />
      <child link = "${prefix}tapping" />
      <origin xyz="0 0 0" rpy="3.1415926535897931 0 -1.57079632679" /> <!-- 0.325 -->
    </joint>
    <link name="${prefix}tapping"/>

    <!-- Tool puntone -->
  <link name="${prefix}puntone">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nj-220-27_descriptions/meshes/puntone.stl" />
      </geometry>
      <xacro:c_grey/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nj-220-27_descriptions/meshes/puntone.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>

  <joint name="${prefix}joint_puntone"
    type="fixed">
    <origin
      xyz="-0.069 0.04236 0"
      rpy="0 0 0" />
    <parent
      link="${prefix}flange" />
    <child
      link="${prefix}puntone" />
  </joint>


  </xacro:macro>

</robot>
