<?xml version="1.0"?>
<robot name="nj-220-27" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:include filename="$(find nj-220-27_description)/urdf/nj-220-27.xacro" />

<xacro:arg name="prefix" default="" />
<xacro:arg name="use_fake_hardware" default="true"/>
<xacro:arg name="mqtt_broker_ip" default="10.7.7.245"/>
<xacro:arg name="mqtt_client_id" default="comau_c5gopen_hw_mqtt_client"/>
<xacro:arg name="mqtt_port" default="1883"/>
<xacro:arg name="mqtt_loop_timeout" default="1"/>
<xacro:arg name="topic_fdb_pos_name" default="robot/arm1/real_joints_positions"/>
<xacro:arg name="topic_fdb_vel_name" default="robot/arm1/real_joints_velocities"/>
<xacro:arg name="topic_cmd_name" default="robot/arm1/target_joints_trajectory"/>
<xacro:arg name="read_only" default="false"/>

<link name="world"/>
  <xacro:nj-220-27 
  prefix="$(arg prefix)"
  use_fake_hardware="$(arg use_fake_hardware)"
  mqtt_broker_ip="$(arg mqtt_broker_ip)"
  mqtt_client_id="$(arg mqtt_client_id)"
  mqtt_port="$(arg mqtt_port)"
  mqtt_loop_timeout="$(arg mqtt_loop_timeout)"
  topic_fdb_pos_name="$(arg topic_fdb_pos_name)"
  topic_fdb_vel_name="$(arg topic_fdb_vel_name)"
  topic_cmd_name="$(arg topic_cmd_name)"
  read_only="$(arg read_only)"

   />
  <joint name="$(arg prefix)world_to_base_link" type="fixed">
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <parent link="world"/>
      <child link="$(arg prefix)base_link"/>
  </joint>
</robot>
